version: '3'
services:
  p4.helix: 
    build: helix-p4d
    ports:
      - 4000:1666
    tty: true
    
  jenkins.helix: 
    build: jenkins
    ports:
      - 4040:8080
    volumes:
      - ./m2.repo:/m2/repository

  gcon.helix:
    build: helix-gcon
    ports:
      - 4443:443
      - 4080:80
    depends_on:
      - p4.helix
    tty: true